h1 {
    color: blue;
}

#logo {
    max-width: 80px;
    max-height: 80px;
}

input{
    width: 100%;
}

button {
    max-width: 80px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-width: 2px;
    background-color: #444444;
}

form {
    width: 100%;
    max-width: 330px;
    background-color: #ecf4ff;
}